cscope.out
*.so
*.o
*.d
*.so
.cscope.files
.sc_status
*.swp
Debug/
.project
.cproject
/patches
build*
BUILD-*
doc/html
*.DS_Store
include/nyx/common/nyx_version.h
src/config/nyx_config.h
src/config/nyx.pc
